body{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    background-color: #0d0d0d;
}

.button {
    background-color: #f93;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(63, 49, 49);
}

.menu__button {
    width: 160px;
    height: 40px;
}

h1, .title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

/* -------------------- */

.app__wrapper {
    margin: 30px;
}

.app__title {
    text-align: center;
}

.app__menu {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.menu__item {
    margin: 0px 7px 0px 7px;
}